:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --slate: #434455;
  --lite-slate: #8e8f99;
  --footer-icon-fiil: #31d0aa;
  --trans-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-br-color: var(--trans-br-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-section {
  font-style: normal;
  margin-left: auto;
}

.address-section .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: var(--trans-color);
}

.address-section .link:hover,
.address-section .link:focus {
  color: var(--ocean);
}

.address-section .list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-list .item {
  width: calc(100% - 72px) / 4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
}

.portfolio-item-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.page-footer {
  padding: 100px 0;
  background-color: var(--navyblue);
  font-size: 0px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer .logo-section {
  margin-right: 120px;
}

.page-footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.page-footer .logo .general {
  color: var(--iris);
  font-size: 18px;
}

.page-footer .logo .accent {
  color: var(--cloud);
  font-size: 18px;
}

.page-footer .logo-section .paragraph {
  color: var(--cloud);
  max-width: 264px;
}

.page-footer .paragraph {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 16px;
}

.page-footer .list {
  display: flex;
  gap: 16px;
}

.page-footer .list .icon-box {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--trans-bg);
}

.page-footer .list .icon-box:hover,
.page-footer .list .icon-box:focus {
  background-color: var(--footer-icon-fiil);
}

.page-footer .list .icon {
  fill: var(--cloud);
}

.page-footer .subscribe-box {
  display: flex;
  flex-direction: column;
}

.subscribe-section-form {
  display: flex;
  gap: 24px;
}

.subscribe-section-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white, #fff);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white, #fff);
}

.subscribe-section-form .button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
}

.page-footer .subscribe-section-form .button .icon {
  fill: var(--white);
  margin-left: 16px;
}

.page-footer .subscribe-section-form .button:hover,
.page-footer .subscribe-section-form .button:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
}

.social-section {
  margin-right: 80px;
}

.main-section {
  background-color: var(--navyblue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.main-section .first-heading {
  margin: 0 auto 48px auto;
  max-width: 496px;
}

.main-section .button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0;
  transition: var(--trans-bg);
}

.main-section .button:hover,
.main-section .button:focus {
  background-color: var(--ocean);
}

.capitalize {
  text-transform: capitalize;
}

.section-fone {
  background-color: var(--cloud);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.first-heading {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
}

.second-heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.thitd-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section .logo {
  margin-right: 76px;
}

.nav-section .logo .general {
  color: var(--iris);
  font-size: 18px;
}

.nav-section .logo .accent {
  color: var(--navyblue);
  font-size: 18px;
}

.nav-section .list {
  display: flex;
  gap: 40px;
}

.nav-section .list .item {
  padding: 24px 0;
}

.nav-section .list .item .link:hover,
.nav-section .list .item .link:focus {
  color: var(--ocean);
}

.nav-section .list .item .link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding: 24px 0;
  transition: var(--trans-color);
}

.nav-section .list .item .current {
  color: var(--ocean);
  position: relative;
}

.nav-section .list .item .current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean, #404bbf);
  position: absolute;
  bottom: -1px;
  left: 0px;
}

.benefits-section .item .thitd-heading {
  margin-bottom: 8px;
}

.benefits-section .item .paragraph {
  color: var(--slate);
}

.benefits-section {
  padding: 120px 0;
}

.benefits-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  padding: 24px 0;
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefits-icon {
  fill: var(--navyblue);
}

.benefits-section .list {
  display: flex;
  gap: 24px;
}

.benefits-section .list .item {
  flex-basis: calc((100% - 72px) / 4);
}

.doing-section {
  padding-bottom: 120px;
}

.doing-section .second-heading {
  margin-bottom: 72px;
  text-align: center;
}

.doing-section .list {
  display: flex;
  gap: 24px;
}

.doing-section .list .item {
  flex-basis: calc((100% - 72px) / 3);
}

.team-section {
  padding: 120px 0;
  background-color: var(--cloud);
}

.team-section .second-heading {
  margin-bottom: 72px;
  text-align: center;
}

.team-section .list {
  display: flex;
  gap: 24px;
}

.team-section .list .item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-section .text-container {
  padding: 32px 0;
}

.team-section .thitd-heading {
  margin-bottom: 8px;
  text-align: center;
}

.team-section .paragraph {
  text-align: center;
  margin-bottom: 8px;
}

.team-section .social-list {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  font-size: 0;
  gap: 24px;
}

.icon-size {
  width: 40px;
  height: 40px;
}

.team-section .social-list .icon-box {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--trans-bg);
}

.team-section .social-list .icon-box:hover,
.team-section .social-list .icon-box:focus {
  background-color: var(--ocean);
}

.team-section .social-list .icon {
  fill: var(--cloud);
}

.customers-section {
  padding: 120px 0;
}

.customers-section .second-heading {
  text-align: center;
  margin-bottom: 72px;
}

.customers-section .list {
  display: flex;
  gap: 24px;
}

.customers-section .list .item {
  flex-basis: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-icon-box {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lite-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lite-slate);
  transition: var(--trans-br-color), var(--trans-color);
}

.customers-icon-box:hover,
.customers-icon-box:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
}

.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio-manu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-manu .button {
  padding: 12px 24px;
  border: 1px solid --cornflower;
  border-radius: 4px;
  background: var(--cloud);
  color: var(--iris);

  transition: var(--trans-color), var(--trans-bg), var(--trans-br-color),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-manu .button:hover,
.portfolio-manu .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  background-color: var(--ocean);
  color: var(--white);
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-content .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content .link:hover,
.portfolio-content .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content .link:hover .img-conteiner .paragraph,
.portfolio-content .link:focus .img-conteiner .paragraph {
  transform: translateY(0%);
}

.img-conteiner {
  position: relative;
  overflow: hidden;
}

.img-conteiner .paragraph {
  position: absolute;
  top: 0;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content .text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-content .thitd-heading {
  margin-bottom: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.overlay.paragraph {
  color: var(--cloud);
}

.backdrop {
  background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  font-size: 0px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 16px;
}

.backdrop .blank {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: var(--trans-bg), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button:hover,
.backdrop .close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.backdrop .close-button .icon {
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .close-button:hover .icon,
.backdrop .close-button:focus .icon {
  fill: var(--white);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop .field-box {
  margin-bottom: 8px;
}

.backdrop .field-box-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lite-slate);
  display: block;
  margin-bottom: 4px;
}

.backdrop .field-box-input-group {
  position: relative;
}

.backdrop .field-box-input-group-text {
  font-size: 12px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .field-box-input-group-text:focus {
  border-color: var(--iris);
}

.backdrop .field-box-input-group .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--iris);
}

.backdrop .textarea-box {
  margin-bottom: 16px;
}

.backdrop .textarea-style {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .textarea-style:focus {
  border-color: var(--iris);
}

.backdrop .checkbox-conteiner {
  margin-bottom: 24px;
}

.backdrop
  .checkbox-conteiner-input:checked
  + .checkbox-conteiner-label
  .checkbox-conteiner-label-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.backdrop .checkbox-conteiner-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lite-slate);
}

.backdrop .checkbox-conteiner-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: var(--trans-br-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: var(--trans-bg), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.backdrop .button {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  border: none;
  transition: var(--trans-bg);
}

.backdrop .checkbox-conteiner-label-link {
  color: var(--iris);
}
