.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}

.top-address {
  display: none;
}

.logotype-top {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  font-size: 0;
}

.logotype-top-general {
  font-size: 18px;
}

.logotype-top-accent {
  font-size: 18px;
  color: var(--navyblue);
}

.mob-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mob-menu-open-btn-icon {
  stroke: var(--navyblue);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transform: translateX(100%);
  transition: var(--trans-function);
}

.mobile-menu-container {
  position: relative;
  padding-left: 24px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-close-btn {
  position: absolute;
  padding: 8px;
  top: 24px;
  right: 24px;
  border: 1px solid var(--cornflower);
  border-radius: 50%;
  background-color: transparent;
  line-height: 0;
  transition: background-color var(--trans-function),
    stroke var(--trans-function);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: var(--ocean);
}

.mobile-menu-close-icon {
  stroke: var(--navyblue);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  stroke: var(--cloud);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-list-item {
  line-height: 0;
}

.mobile-menu-list-link {
  display: block;
  color: var(--navyblue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transform: color var(--trans-function);
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
  color: var(--ocean);
}

.mobile-current {
  color: var(--iris);
}

.mobile-menu-social-list {
  display: flex;
  gap: 56px;
}

.mobile-menu-social-list-item {
  line-height: 0;
}

.mobile-menu-social-list-link {
  padding: 8px;
  border-radius: 50%;
  background-color: var(--iris);
  display: block;
  transition: back-ground var(--trans-function);
}

.mobile-menu-social-list-link:hover,
.mobile-menu-social-list-link:focus {
  background-color: var(--ocean);
}

.mobile-menu-social-icon {
  fill: var(--white);
}

.mobile-menu-bottom-box {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-list-item {
  line-height: 0;
}

.mobile-menu-tel {
  color: var(--iris);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color var(--trans-function);
}

.mobile-menu-tel:hover,
.mobile-menu-tel:focus {
  color: var(--ocean);
}

.mobile-menu-email {
  color: var(--slate);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  transition: color var(--trans-function);
}

.mobile-menu-email:hover,
.mobile-menu-email:focus {
  color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 16px 0;
  }

  .mob-menu-open-btn {
    display: none;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .page-nav {
    display: flex;
    gap: 120px;
    align-items: center;
  }

  .top-address {
    display: block;
  }

  .top-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .top-address-list-item {
    line-height: 0;
  }

  .top-address-list-link {
    color: var(--slate);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    transition: color var(--trans-function);
  }

  .top-address-list-link:hover,
  .mtop-address-list-link:focus {
    color: var(--ocean);
  }

  .menu-item {
    line-height: 0;
  }

  .menu-link {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02px;
    transition: color var(--trans-function);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--ocean);
  }

  .current {
    color: var(--ocean);
    position: relative;
  }

  .current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean, #404bbf);
    position: absolute;
    bottom: -25px;
    left: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .page-header {
    padding: 24px 0;
  }

  .page-nav {
    gap: 76px;
  }

  .top-address {
    display: block;
  }

  .top-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .top-address-list-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .menu-link {
    line-height: 24px;
  }

  .current::after {
    left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .mobile-menu-tel {
    font-size: 24px;
  }

  .mobile-menu-social-list {
    gap: 30px;
  }
}
